body {
  font-family: 'Roboto Slab', serif;
  color: orangered;
  background-image: url('../images/blue-cyber-future-technology-concept-background_42077-488.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#intro {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  color: orangered;
  padding: 8rem 4rem 20rem 4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  cursor: default;
  text-align: center;
  z-index: 1;
  min-height: 100vh;
}
.about-me {
  margin-top: 4rem;
  margin-bottom: 4rem;
  float: left;
  background-color: transparent;
  color: white;
}
hr {
  background-color: white;
}
/*my oicture style inn= index file*/
.MyPicture {
  height: 200px;
  width: 150px;
}
/* portfolio image css*/
.img {
  height: 400px;
  width: 400px;
}
